/* Objetivos */

.objetivos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.obj-header {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.obj-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 6;
  justify-content: center;
  align-content: center;
}

.obj-container img {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  width: 100%;
  height: 70px;
  color: black;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav img {
  height: 40px;
  margin-left: 20px;
}

.nav p {
  margin: 0 20px;
  font-size: 1rem;
}

.nav a {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
  font-size: 1.2em;
}


/* Objetivo detail */

.objetivo-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.objetivo-detail img {
  max-width: 172px;
  max-height: 117px;
  height: auto;
}