/* Benefits */
.benefits {
  height: 640px;
  display: flex;
  justify-content: flex-end;
  background-image: url('../../images/benefits/bk_benefits.png');
  background-color: white;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits-data {
  width: 45%;
  height: 640px;
  margin: 30px;
}

.benefits-data h2 {
  font-size: 30px;
  font-weight: bold;
}

.benefits-data h4 {
  font-size: 30px;
  font-weight: bold;
}

.benefits-data p {
  width: 100%;
  font-size: 26px;
  margin: 40px 0;
  line-height: 1.5rem;
}

.benefits-data li {
  width: 100%;
  font-size: 18px;
  line-height: 2.5rem;
}