.proyectos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.proyectos h1 {
  margin-top: 100px;
}

.proyecto-card {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 30px;
}

.proyecto-card p {
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
}

.proyecto-card h2 {
  min-width: 200px;
  max-width: 200px;
}

.proyecto-card button {
  max-width: 100px;
}

.proyecto-card img {
  max-height: 30px;
}

.proyectos-container {
  width: 800px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 100px;
  max-height: 300px;
  overflow: scroll;
}

.filtros {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.filtros button {
  width: 200px;
}

/* Detail */
.proyecto-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.proyecto-detail h1 {
  margin-top: 100px;
}

.proyecto-detail-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.basic-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.basic-info div {
  margin: 0 30px;
}

.bold {
  font-weight: bold;
}

.detail-info {
  width: 100%;
  display: flex;
}

.detail-info div {
  margin: 30px;
}

.detail-info-data {
  width: 80%;
  display: flex;
}

.detail-info-data div {
  margin: 5px 30px;
}

.detail-info-logo {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.detail-info-logo div {
  margin: 5px 30px;
}

/* New Project */
.project-form h2 {
  margin-top: 100px;
}

.project-form input {
  width: 230px;
}

.project-form .project-basic {
  display: flex;
  justify-content: space-evenly;
}

.project-form .project-basic div{
  width: 230px;
}

.project-form .project-desc {
  display: flex;
  justify-content: space-evenly;
}

.project-form .project-desc textarea {
  min-width: 400px;
}

.project-form .project-desc button {
  max-width: 150px;
}

.project-form .project-detail {
  display: flex;
  justify-content: space-evenly;
}

.project-form .project-detail input{
  min-width: 300px;
}

.project-form .project-dates {
  display: flex;
  flex-direction: column;
}

.project-form .project-dates input {
  width: 400px;
}

.project-form .project-context {
  display: flex;
  justify-content: space-evenly;
}

.project-form .project-context textarea {
  min-width: 500px;
  min-height: 100px;
}

.project-form .project-docs {
  display: flex;
  justify-content: space-evenly;
}

.project-form .project-docs button {
  max-width: 300px;
}